ul,li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  span::after{
    font-family: 'Material Icons';
    content: "chevron_right";
    color: grey;
  }
}
li{
  margin-left: 50px;
}
input[type="checkbox"] {
  position: absolute;
  left: 30px;
  margin: 0;
  padding: 0;
}
// 
#item-1 {
  margin-top: 22px;
}
#item-2 {
  margin-top: 22px;
}
#item-3 {
  margin-top: 22px;
}
#item-4 {
  margin-top: 22px;
}
